
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

form.user .form-control-user {
    border-radius: 10px;
    padding: 0px 10px !important;
}
/* my css dashboard */
.bgSideBar{
 background: #CC051C !important;
}
.bgNavBar{
    background: #FFF8F7;
}
.searchBox{
    background: #F2F2F2;
border-radius: 20px; 
}
.inpSearch{
  border:none;
  background-color: transparent;
}
.pr1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #3F4254;
}
.addBtn{
    
background: #CC051C;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* White */

color: #FFFFFF;
height: fit-content;
}
.cBtn{
    background: #fff;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* White */
border: 2px solid#000;
color: #000;
height: fit-content;
}
 .custom-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #B5B2B2;
    border-radius: 0;
}
.modalHead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #3F4254;
}
.custom-dropdown .dropdown-menu {
    border: none;
    background-color: #fff;
}
@media only screen and (max-width: 575px){
	/*Big smartphones [426px -> 600px]*/
    .searchBox{
        display: none !important;
    }
}
